@using KarmicEnergy.Web.Areas.Customer.ViewModels.FastTracker
@using Munizoft.Extensions
@using Munizoft.MVC.Helpers

@model ListViewModel

@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Fast Tracker";
}

<script src="~/Scripts/jquery-2.2.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/app/utils.js"></script>
<script src="~/Scripts/highcharts/highcharts.js"></script>
<script src="~/Scripts/highcharts/highcharts-3d.js"></script>
<script src="~/Scripts/app/fasttracker.js"></script>
@Scripts.Render("~/bundles/moment")

<div class="row" style="margin-bottom: 20px;">
    <div class="form-group">
        <div class="col-md-12">
            @using (Html.BeginForm("Site", "FastTracker", new { }, FormMethod.Post, new { }))
            {
                @Html.DropDownListFor(m => m.SiteId, new SelectList(ViewBag.Sites, "Id", "Name"), "-- Please select a Site --", new { @class = "form-control selectpicker", @id = "ddlSite" })
            }
        </div>
    </div>
</div>

<div id="tanks">
    @{
        Int32 count = 1;
    }

    @if (Model != null && Model.Tanks != null && Model.Tanks.Any())
    {
        foreach (var tank in Model.Tanks)
        {
            List<String> colors = new List<string>() { "green", "blue", "orange" };
            var color = colors.OrderBy(x => Guid.NewGuid()).FirstOrDefault();

            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 tracker-table">

                    <div class="col-sm-1 col-md-2 col-xs-1 col-lg-1 tracker-number @color">
                        <h3>@count</h3>
                    </div>

                    <div class="col-sm-3 col-md-4 col-xs-4 col-lg-2 tracker-image">
                        <div>
                            <img src="~/images/tank_models/@tank.UrlImageTankModel" style="width: 100px; height: 100px;">
                            <p>@tank.EventDate.ToString("MM/dd/yyyy")</p>
                            <p>@tank.EventDate.ToString("hh:mm:ss tt")</p>
                        </div>
                    </div>

                    <div class="col-sm-2 col-md-3 col-xs-4 col-lg-2 tracker-text">
                        <div class="gals">
                            <h2>@tank.WaterVolumePerc.ToString("P2")</h2>
                            <h2>@tank.WaterVolume</h2>
                            <p>gals</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-5 col-xs-7 col-lg-7 tracker-graph">
                        @if (tank.WaterVolumeInfos.Any())
                        {
                            <div id="graph-@tank.TankId"></div>
                            <script type="text/javascript">
                                generateGraph('@tank.TankId');
                            </script>
                        }
                        else
                        {
                            <img src="~/images/graph.png">
                        }
                    </div>
                </div>
            </div>

            count++;
        }
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            showLoading();

            $('#ddlSite').on('change', function (event) {
                var form = $(event.target).parents('form');
                form.submit();
            });

            hideLoading();
        });
    </script>
}
