@using KarmicEnergy.Web.Areas.Customer.ViewModels.Sensor
@using Munizoft.Extensions
@using System.Linq
@using MvcCheckBoxList.Model
@using Munizoft.MVC.Helpers

@model CreateViewModel

@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Sensor - Create";
}

@using (Html.BeginForm("Create", "Sensor", new { area = "Customer" }, FormMethod.Post, new { id = "formCreateTank", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                @Html.LabelFor(m => m.TankId, new { @class = "control-label" })
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                @Html.DropDownListFor(m => m.TankId, new SelectList(ViewBag.Tanks, "Id", "Name", Request.QueryString["TankId"].ToString()), "-- Please select a Tank --", new { @class = "form-control selectpicker", @id = "ddlTank" })
                @Html.ValidationMessageFor(m => m.TankId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                @Html.LabelFor(m => m.SensorTypeId, new { @class = "control-label" })
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                @Html.DropDownListFor(m => m.SensorTypeId, new SelectList(ViewBag.SensorTypes, "Id", "Name"), "-- Please select a Sensor Type --", new { @class = "form-control selectpicker", @id = "ddlSensorType" })
                @Html.ValidationMessageFor(m => m.SensorTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                @Html.LabelFor(m => m.Reference, new { @class = "control-label" })
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                @Html.EditorFor(m => m.Reference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Reference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                @Html.LabelFor(m => m.Status, new { @class = "control-label" })
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.Statuses, "Id", "Name", "A"), "-- Please select a Status--", new { @class = "form-control selectpicker", id = "ddlStatus" })
                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-xs-6 visible-lg-block">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 box-sub">
                    <div class="title green">
                        <h2>Items</h2>
                    </div>

                    <div class="checkboxlist" style="float:left;">
                        @for (var i = 0; i < Model.Items.Count(); i++)
                        {
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    @Html.HiddenFor(model => model.Items[i].Id)
                                    @Html.CheckBoxFor(model => model.Items[i].IsSelected, new { Style = "vertical-align: 3px;" })
                                    @Html.DisplayFor(model => model.Items[i].Name)
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    @Html.DropDownListFor(model => model.Items[i].UnitSelected, new SelectList(Model.Items[i].Units, "Id", "Name"), "-- Please select an Unit --", new { @class = "form-control selectpicker", id = "ddlUnit_" + Model.Items[i].Id })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_TankSpotGPS", new SpotGPSViewModel())
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center btn-submit">
        <input type="submit" class="btn btn-default" value="SAVE">
        <a class="btn" href="/Customer/Sensor/Index?TankId=@Request.QueryString["TankId"]">Cancel</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
