@using KarmicEnergy.Web.Areas.Customer.ViewModels.Dashboard
@using Munizoft.Extensions
@using Munizoft.MVC.Helpers
@using GridMvc.Html

@model TankDashboardViewModel

@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Tank Report";
}

@Styles.Render("~/Content/grid")

<div class="row" style="margin-bottom: 20px;">
    <div class="form-group">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            @using (Html.BeginForm("Site", "Dashboard", new { }, FormMethod.Post, new { }))
            {
                @Html.DropDownListFor(m => m.SiteId, new SelectList(ViewBag.Sites, "Id", "Name"), "-- Please select a Site --", new { @class = "form-control selectpicker", @id = "ddlSite" })
            }
        </div>
    </div>
</div>

@*@Html.Grid(Model.Reports).Columns(columns =>
{
    columns.Add(c => c.TankName)
        .Titled("Name")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true)
        .RenderValueAs(o => @Html.NoEncodeActionLink("<span>" + o.TankName + "</span>", o.TankName, "Gauge", "Tank", routeValues: new { TankId = o.TankId, area = "Customer" }, htmlAttributes: new { data_modal = "" }));

    columns.Add(c => c.WaterVolume)
        .Titled("Water Volume")
        .Encoded(false)
        .Sanitized(false)
        .Filterable(true)
        .RenderValueAs(o => @Html.Raw("<span title='" + o.WaterVolumeEventDate.ToString() + "'>" + o.WaterVolume + "</span>"));

    columns.Add(c => c.WaterVolumePercentage)
        .Titled("% Full")
        .Filterable(true);

    columns.Add(c => c.WaterTemperature)
        .Titled("Water Temp")
        .Filterable(true);

    columns.Add(c => c.WeatherTemperature)
        .Titled("Weather Temp")
        .Filterable(true);

    columns.Add(c => c.Alarms)
        .Titled("Alarm")
           .Encoded(false)
        .Sanitized(false)
        .Filterable(true)
        .RenderValueAs(o => o.Alarms.Value > 0 ? @Html.Raw("<span style='color:red;' class='blink'>" + o.Alarms.Value + "</span>") : @Html.Raw("<span>" + o.Alarms.Value + "</span>"));

}).WithPaging(10).Sortable(true).Filterable().WithMultipleFilters()*@

@section Scripts {
    @Scripts.Render("~/bundles/grid")
    <script type="text/javascript">
        $(function () {
            showLoading();

            $('#ddlSite').on('change', function (event) {
                var form = $(event.target).parents('form');
                form.submit();
            });

            hideLoading();
        });
    </script>
}