@using KarmicEnergy.Web.Areas.Customer.ViewModels.Tank
@using Munizoft.Extensions
@using Munizoft.MVC.Helpers

@model GaugeViewModel

@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Tank - Gauge";
}

@Scripts.Render("~/bundles/moment")
@Scripts.Render("~/bundles/jqueryui")

<script src="~/Scripts/app/utils.js"></script>
<script src="~/Scripts/highcharts/highcharts.js"></script>
<script src="~/Scripts/highcharts/highcharts-3d.js"></script>
<script src="~/Scripts/highcharts/highcharts-more.js"></script>
<script src="~/Scripts/app/tank-gauge.js"></script>

<div class="row">
    <div id="gauge-alarm" class="col-sm-12 col-md-12 col-lg-12">
        <div id="gauge" class="col-sm-7 col-md-7 col-lg-7">
            <div class="row gauge">
                <div class="col-sm-12 col-md-12 col-lg-12 gauge-title">
                    <h3>@Model.TankName</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row guage-table">
                        <div class="col-sm-4 col-md-4 col-lg-4 gauge-data">
                            <div id="tankWaterVolumePerc" class="guage-value">
                                <h3>@Model.WaterVolumePercentage.Value.ToString("P2")</h3>
                                <p>Full</p>
                            </div>
                            <div id="tankWaterVolume" class="guage-value">
                                <p>Total volume</p>
                                <h3>@Model.WaterVolumeCapacity</h3>
                                <p>gallons</p>
                            </div>
                            <div id="tankWaterLastMeasurement" class="guage-value">
                                <p>@Model.WaterVolumeLastMeasurement.Value.ToString("hh:mm:ss tt") </p>
                                <p>@Model.WaterVolumeLastMeasurement.Value.ToString("MM/dd/yyyy") </p>
                            </div>
                        </div>

                        <div class="col-sm-8 col-md-8 col-lg-8 gauge-cell">
                            <div id="gauge_@Model.TankId"></div>
                            <div class="tube">
                                <img src="~/images/water-flow.gif" />
                            </div>
                            <script type="text/javascript">
                                generateFlowMeter('@Model.TankId');
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="alarm" class="col-sm-5 col-md-5 col-lg-5 gauge-box">
            <div class="header">
                <h3>Alarm</h3>
            </div>
            <div class="body">
                <div class="alarm-table">
                    <table>
                        <tbody></tbody>
                    </table>
                </div>

                <div class="">
                    @Html.NoEncodeActionLink("<span>ADD</span>", "Add new Trigger", "Create", "Trigger", routeValues: new { area = "Customer", TankId = Request.QueryString["TankId"] }, htmlAttributes: new { @class = "btn" })
                </div>
            </div>
            <div class="footer">

            </div>
        </div>
    </div>
</div>

<div class="row tank-volume-box" style="margin-top: 20px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="gauge-title">
                    <h3>Tank Volume</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 tank-volume-sec">
                <div id="tankVolumeGraph_@Model.TankId" class="tank-volume">
                </div>
                <script type="text/javascript">
                    generateWaterVolumeGraph('@Model.TankId', 1);
                </script>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="radio-buttons">
                    <div class="radio">
                        <label><input type="radio" name="optradio" checked onclick="generateWaterVolumeGraph('@Model.TankId', 1);">Real Time</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optradio" onclick="generateWaterVolumeGraph('@Model.TankId', 7);">Hourly (7d)</label>
                    </div>
                    <div class="radio disabled">
                        <label><input type="radio" name="optradio" onclick="generateWaterVolumeGraph('@Model.TankId', 45);">Daily (45d)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 temp-volt-box" style="margin-top: 20px;">
        <div class="col-sm-6 col-md-6 col-lg-6 tank-temperature-box">
            <div class="gauge-title">
                <h3>Tank Temp</h3>
            </div>
            <div id="temperature_graph_@Model.TankId" class="graph" style="margin-top: 10px;">
            </div>
            <script type="text/javascript">
                generateTemperatureGraph('@Model.TankId');
            </script>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 sensor-voltage-box">
            <div class="gauge-title">
                <h3>Sensor Voltage</h3>
            </div>
            <div id="voltage_graph_@Model.TankId" class="graph" style="margin-top: 10px;">

            </div>
            <script type="text/javascript">
                generateVoltageGraph('@Model.TankId');
            </script>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/app/tank-gauge.js"></script>
    <script type="text/javascript">
        $(function () {
            showLoading();
            var rowheight = $("#gauge-alarm").height();
            $("#alarm").height(rowheight);
            hideLoading();
        });
    </script>
}
