@using KarmicEnergy.Web.Areas.Customer.ViewModels.Monitoring
@using Munizoft.Extensions
@using Munizoft.MVC.Helpers
@using KarmicEnergy.Web.Extensions
@using GridMvc.Html

@model AlarmInfoViewModel

@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Alarm - Info";
}

@Styles.Render("~/Content/gridmvccss")

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-sub">
    <div class="title blue">
        <h2>Detail</h2>
    </div>

    @Html.Partial("_AlarmDetail", Model.Detail)

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center btn-submit" style="margin-bottom: 15px;">
    <a class="btn" href="/Customer/Monitoring/CreateComment/@Model.Id">ADD COMMENT</a>
    <a class="btn" href="/Customer/Monitoring/AlarmClear/@Model.Id">CLEAR</a>
    <a class="btn" href="/Customer/Monitoring/AlarmACK/@Model.Id">ACK</a>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-sub">
    <div class="title blue">
        <h2>History</h2>
    </div>

    @Html.Grid(Model.Histories).Columns(columns =>
{
    if (!this.IsSite())
    {
        columns.Add(c => c.SiteName).Titled("Site")
            .Filterable(true);
    }

    columns.Add(c => c.TankName).Titled("Tank")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.SensorName).Titled("Sensor")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.ItemName).Titled("Item")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.SeverityName).Titled("Severity")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.AlarmDateLocal).Titled("Date")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.AckLastUsername).Titled("User")
        .Sortable(true)
        .Filterable(true);

}).WithPaging(20).Sortable(true).Filterable().WithMultipleFilters()

</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-sub">
    <div class="title blue">
        <h2>Comments</h2>
    </div>

    @Html.Grid(Model.Comments).Columns(columns =>
{

    columns.Add(c => c.UserName).Titled("UserName")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.Message).Titled("Comment")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.CreatedDateLocal).Titled("Date")
        .Sortable(true)
        .Filterable(true);

}).WithPaging(20).Sortable(true).Filterable().WithMultipleFilters()

</div>

@section Scripts {
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/bootstrap-datepicker")

    <script type="text/javascript">
        $(function () {
            showLoading();

            hideLoading();
        });
    </script>
}
