@using KarmicEnergy.Web.Areas.Customer.ViewModels.Monitoring
@using Munizoft.Extensions
@using Munizoft.MVC.Helpers
@using KarmicEnergy.Web.Extensions
@using GridMvc.Html

@model DetailViewModel

@{
    ViewBag.Title = "Event - Detail";
}
s
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
            @Html.LabelFor(m => m.SiteName)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.SiteName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            @if (Model.PondId.HasValue)
            {
                @Html.LabelFor(m => m.PondName)
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        @Html.EditorFor(m => m.PondName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
            }

            @if (Model.TankId.HasValue)
            {
                @Html.LabelFor(m => m.TankName)
                <div class="form-group row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        @Html.EditorFor(m => m.TankName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>
                </div>
            }

            @Html.LabelFor(m => m.SensorName)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.SensorName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            @Html.LabelFor(m => m.ItemName)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.ItemName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            @Html.LabelFor(m => m.Value)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.Value, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            @Html.LabelFor(m => m.SeverityName)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.SeverityName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            @Html.LabelFor(m => m.AlarmDateLocal)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.AlarmDateLocal, new { htmlAttributes = new { @class = "form-control", style = "background-color: #FFF;", disabled = "disabled" } })
                </div>
            </div>

            @Html.LabelFor(m => m.AckLastUsername)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.AckLastUsername, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </div>
            </div>

            @Html.LabelFor(m => m.AckLastDate)
            <div class="form-group row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    @Html.EditorFor(m => m.AckLastDate, new { htmlAttributes = new { @class = "form-control", style = "background-color: #FFF;", disabled = "disabled" } })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-sub">
    <div class="title blue">
        <h2>Detail</h2>
    </div>

    @Html.Partial("_EventDetail", Model.Detail)

</div>



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-sub">
    <div class="title blue">
        <h2>History</h2>
    </div>

    @Html.Grid(Model.Histories).Columns(columns =>
{
    if (!this.IsSite())
    {
        columns.Add(c => c.SiteName).Titled("Site")
            .Filterable(true);
    }

    columns.Add(c => c.TankName).Titled("Tank")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.SensorName).Titled("Sensor")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.ItemName).Titled("Item")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.SeverityName).Titled("Severity")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.AlarmDateLocal).Titled("Date")
        .Sortable(true)
        .Filterable(true);

    columns.Add(c => c.AckLastUsername).Titled("User")
        .Sortable(true)
        .Filterable(true);

}).WithPaging(20).Sortable(true).Filterable().WithMultipleFilters()

</div>


@section Scripts {
}