@using KarmicEnergy.Web.Areas.Customer.ViewModels.Site
@using Munizoft.Extensions

@model CreateViewModel

@{
    Layout = "~/Views/Shared/_Internal.cshtml";
    ViewBag.Title = "Site - Create";
}

@using (Html.BeginForm("Create", "Site", new { area = "Customer" }, FormMethod.Post, new { id = "formCreateUser", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            <div class="col-md-3 col-lg-2">
                @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            </div>
            <div class="col-md-9 col-lg-10">
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 col-lg-2">
                @Html.LabelFor(m => m.IPAddress, new { @class = "control-label" })
            </div>
            <div class="col-md-9 col-lg-10">
                @Html.EditorFor(m => m.IPAddress, new { htmlAttributes = new { @class = "form-control", @id = "txtIPAddress" } })
                @Html.ValidationMessageFor(m => m.IPAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 col-lg-2">
                @Html.LabelFor(m => m.Status, new { @class = "control-label" })
            </div>
            <div class="col-md-9 col-lg-10">
                @Html.DropDownListFor(model => model.Status, new SelectList(ViewBag.Statuses, "Id", "Name", "A"), "-- Please select a Status--", new { @class = "form-control selectpicker", id = "ddlStatus" })
                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-lg-10">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3 col-lg-2">
                            @Html.LabelFor(m => m.Latitude, new { @class = "control-label" })
                        </div>
                        <div class="col-md-9 col-lg-10">
                            @Html.EditorFor(m => m.Latitude, new { htmlAttributes = new { @class = "form-control", id = "txtLatitude" } })
                            @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 col-lg-2">
                            @Html.LabelFor(m => m.Longitude, new { @class = "control-label" })
                        </div>
                        <div class="col-md-9 col-lg-10">
                            @Html.EditorFor(m => m.Longitude, new { htmlAttributes = new { @class = "form-control", id = "txtLongitude" } })
                            @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-lg-2">
                <a id="archorMap" style="display: none;" target="_blank">
                    <img id="imgMap" src="~/images/map_icon.png" style="width: 100%; height: 100%;" />
                </a>
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="box-sub">
            <div class="title green">
                <h2>Info</h2>
            </div>
            @Html.Partial("_Address", Model.Address, new ViewDataDictionary() { TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "Address" } })
        </div>
    </div>

    <div class="col-md-12 col-lg-12 text-center btn-submit">
        <input type="submit" class="btn btn-default" value="SAVE">
        <a class="btn" href="/Customer/Site/">Cancel</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            //$("#txtIPAddress").mask("999.999.999.999");
            getGeoLocation(geoLocationSuccess, geoLocationError);
        });

        function geoLocationSuccess(pos) {
            var crd = pos.coords;
            var urlLocation = 'http://maps.google.com/?q=' + crd.latitude + ',' + crd.longitude;
            $('#txtLatitude').val(crd.latitude);
            $('#txtLongitude').val(crd.longitude);

            $('#archorMap').attr("href", urlLocation);
            $('#archorMap').visible();
        };

        function geoLocationError(err) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    notifiyError("User denied the request for Geolocation.")
                    break;
                case error.POSITION_UNAVAILABLE:
                    notifiyError("Location information is unavailable.")
                    break;
                case error.TIMEOUT:
                    notifiyError("The request to get user location timed out.")
                    break;
                case error.UNKNOWN_ERROR:
                    notifiyError("An unknown error occurred.")
                    break;
            }
        };
    </script>
}
